.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #1f1f1f;
  color: #fff;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #fff;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: orange;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 10px solid gold;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 20px #800080;
}